:root {
  --thumbnail-size: 123px;
}

@media (max-width: 1000px) {
  :root {
    --thumbnail-size: 76px;
  }
}

@keyframes spinner {
  0% { background-color: #333; }
  100% { background-color: transparent; }
}

html {
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

.icon-buttons {
  position: fixed;
  right: 11px;
  top: 11px;
  width: 47px;
}

.icon-button {
  background: #eee;
  border-radius: 23px;
  color: #111;
  cursor: pointer;
  display: grid;
  height: 47px;
  margin-bottom: 18px;
  place-items: center center;
  width: 47px;
}

.icon-button .icon {
  font-size: 120%;
}

.icon-button:hover {
  background: #9cf;
}

/* tags */

.tags {
  margin: 7px;
  line-height: 1.5;
  text-align: center;
}

.tags .icon, .tags .tag {
  border-radius: 4px;
  display: inline-block;
  margin-right: 7px;
  padding: 0 4px;
  text-decoration: none;
  white-space: nowrap;
}

.tags .icon {
  cursor: pointer;
  font-size: larger;
}

/* thumbs */

.thumbs {
  display: grid;
  gap: 7px;
  grid-template-columns: repeat(auto-fit, minmax(47px, 1fr));
  grid-auto-rows: 47px;
  grid-auto-flow: dense;
  margin: 7px;
}

.thumbs .thumb {
  border-radius: 7px;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.thumbs .thumb img {
  object-fit: cover;
  object-position: 50% 50%;
}

.thumbs .thumb .video-icon {
  background-color: #f30;
  border-radius: 4px;
  color: #111;
  font-size: 20px;
  left: calc(50% - 15px);
  padding: 5px 6px 4px 8px;
  position: absolute;
  top: calc(50% - 15px);
  z-index: 1;
}

.thumbs .thumb:hover .video-icon {
  display: none;
}

/* view */

.asset {
  display: grid;
  gap: 11px;
  grid: "view self self" 10vh
        "view others others" 90vh
      / 1fr var(--thumbnail-size) calc(4 * var(--thumbnail-size));
  place-content: stretch top;
  place-items: stretch top;
}

.asset .view {
  grid-area: view;
  place-self: center;
}
.asset .self { grid-area: self }
.asset .others { grid-area: others }

.asset .view img, .asset .view audio, .asset .view video {
  max-height: calc(100vh - 123px);
  max-width: 100%;
  border-radius: 11px;
}

.asset .self .thumbs {
  float: left;
  margin-right: 4px;
}

.asset .self dt {
  display: inline-block;
  font-weight: bold;
}

.asset .self dd {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.asset h2 {
  color: #666;
}

/* edit */

#tools * { z-index: 3; }

#workspace {
    height: calc(100% - 21px);
    width: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#workspace img, #workspace video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: none;
    z-index: 1;
}

#workspace #grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #000 1px, transparent 1px),
        linear-gradient(to bottom, #000 1px, transparent 1px);
    z-index: 2;
    display: none;
}

.toolbar {
    width: 100%;
    height: 1.5rem;
    background: #ccc;
    cursor: default;
    padding-left: 0.5rem;
}

.dingbat {
    font-weight: bold;
    font-variant: normal;
    width: 1.5rem;
    padding-right: 0.3rem;
}

.toolbar li > a {
    color: #111;
    background: #ddd;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.5rem;
    display: block;
}

.toolbar a:hover { background: #fff; }

.toolbar > li {
    background: #ccc;
    float: left;
    display: block;
    position: relative;
    padding: 0.25rem 0.5rem;
}

.toolbar > li > ul,
.toolbar > li > div {
    display: none;
    position: absolute;
    left: -1px;
    top: 1.5rem;
    border: solid 1px #999;
}

.toolbar > li ul li {
    background: #999;
    min-height: 1px;
}

#editor.tagging #tags-tab,
.toolbar > li:hover { background: #ddd; }

#editor.tagging #tags-tab > div,
.toolbar > li:hover > ul,
.toolbar > li:hover > div { display: block; }

#ephemeral-tools { display: none; }

#range {
    width: 40rem;
    display: none;
    padding: 0.25rem 0.5rem 0;
}

#range input {
    width: calc(100% - 5rem);
    margin-right: 1rem;
    height: 100%;
}

#editor.cropping #basic-tools,
#editor.ranging #basic-tools { display: none; }

#editor.cropping #ephemeral-tools,
#editor.ranging #ephemeral-tools,
#editor.ranging #range,
#editor.ranging #grid { display: block; }

#editor-tags {
    width: 20rem;
    background: #ddd;
    padding: 0.3rem;
}

#tag-input { width: 7rem; }

/* EXPORT */

#export button { padding: 0.25rem 0.5rem; }
