:root {
  --thumbnail-size: 120px;
}

@media (max-width: 1000px) {
  :root {
    --thumbnail-size: 90px;
  }
}

html {
  background: #111;
  color: #111;
  font-family: sans-serif;
  text-align: center;
}

.icon-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 34px;
}

.icon-button {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  color: #111;
  cursor: pointer;
  margin: 0 13px 13px 0;
}
.icon-button .icon {
  flex: 1;
  font-size: 120%;
}
.icon-button:hover {
  background: #fff;
}

/* tags */

.tags {
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.tags .icon, .tags .tag {
  flex: 0 0 auto;
  margin: 2px;
  padding: 1px 5px;
}

.tags .icon {
  cursor: pointer;
  font-size: larger;
}

.tags .tag {
  border-radius: 3px;
  text-decoration: none;
  white-space: nowrap;
}

.tags *:hover {
  opacity: 1.0 !important;
}

/* thumbs */

.thumbs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.thumbs .thumb {
  flex: 0 0 var(--thumbnail-size);
  position: relative;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.thumbs .thumb img {
  max-height: var(--thumbnail-size);
  max-width: var(--thumbnail-size);
  border-radius: 5px;
}

.thumbs .thumb .video-icon {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  font-size: 20px;
  background-color: #f30;
  border: solid 1px #111;
  border-radius: 3px;
  padding: 5px 6px 4px 8px;
}

.thumbs .thumb:hover .video-icon {
  display: none;
}

/* view */

.asset .tags {
  clear: both;
}

.asset img, .asset audio, .asset video {
  max-height: calc(100vh - 32px);
  max-width: calc(100vw - 32px);
  border-radius: 13px;
  float: left;
}

.asset h2 {
  color: #666;
}

@keyframes spinner {
  0% { background-color: #333; }
  100% { background-color: transparent; }
}

/* edit */

#tools * { z-index: 3; }

#workspace {
    height: calc(100% - 21px);
    width: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#workspace img, #workspace video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: none;
    z-index: 1;
}

#workspace #grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #000 1px, transparent 1px),
        linear-gradient(to bottom, #000 1px, transparent 1px);
    z-index: 2;
    display: none;
}

.toolbar {
    width: 100%;
    height: 1.5rem;
    background: #ccc;
    cursor: default;
    padding-left: 0.5rem;
}

.dingbat {
    font-weight: bold;
    font-variant: normal;
    width: 1.5rem;
    padding-right: 0.3rem;
}

.toolbar li > a {
    color: #111;
    background: #ddd;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.5rem;
    display: block;
}

.toolbar a:hover { background: #fff; }

.toolbar > li {
    background: #ccc;
    float: left;
    display: block;
    position: relative;
    padding: 0.25rem 0.5rem;
}

.toolbar > li > ul,
.toolbar > li > div {
    display: none;
    position: absolute;
    left: -1px;
    top: 1.5rem;
    border: solid 1px #999;
}

.toolbar > li ul li {
    background: #999;
    min-height: 1px;
}

#editor.tagging #tags-tab,
.toolbar > li:hover { background: #ddd; }

#editor.tagging #tags-tab > div,
.toolbar > li:hover > ul,
.toolbar > li:hover > div { display: block; }

#ephemeral-tools { display: none; }

#range {
    width: 40rem;
    display: none;
    padding: 0.25rem 0.5rem 0;
}

#range input {
    width: calc(100% - 5rem);
    margin-right: 1rem;
    height: 100%;
}

#editor.cropping #basic-tools,
#editor.ranging #basic-tools { display: none; }

#editor.cropping #ephemeral-tools,
#editor.ranging #ephemeral-tools,
#editor.ranging #range,
#editor.ranging #grid { display: block; }

#editor-tags {
    width: 20rem;
    background: #ddd;
    padding: 0.3rem;
}

#tag-input { width: 7rem; }

/* EXPORT */

#export button { padding: 0.25rem 0.5rem; }
