@media (max-width: 9999px) { :root { --thumbnail-size: 199px; } }
@media (max-width: 1364px) { :root { --thumbnail-size: 123px; } }
@media (max-width: 843px)  { :root { --thumbnail-size: 76px; } }
@media (max-width: 521px)  { :root { --thumbnail-size: 47px; } }

@keyframes spinner {
  0% { background-color: #333; }
  100% { background-color: transparent; }
}

html {
  background: #111;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
}

.controls {
  position: fixed;
  right: 11px;
  top: 11px;
  width: 47px;
}

.button {
  background: #eee;
  border-radius: 23px;
  color: #111;
  cursor: pointer;
  display: grid;
  height: 47px;
  margin-bottom: 18px;
  place-items: center center;
  width: 47px;
}

.button .icon {
  font-size: 120%;
}

.button:hover {
  background: #9cf;
}

/* tags */

.tags {
  margin: 7px;
  line-height: 1.5;
}

.tags .icon, .tags .tag {
  /*border-radius: 4px;*/
  display: inline-block;
  margin-right: 7px;
  padding: 0 4px;
  text-decoration: none;
  white-space: nowrap;
}

.tags .icon {
  cursor: pointer;
  font-size: larger;
}

/* thumbs */

.thumbs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 7px;
}

.thumb {
  /*border-radius: 7px;*/
  cursor: pointer;
  height: var(--thumbnail-size);
  margin: 0 7px 7px 0;
  min-width: 18px;
  position: relative;
}

.thumb img {
  height: var(--thumbnail-size);
}

.thumb .video-icon {
  background-color: #fc0;
  border: solid 3px #111;
  color: #111;
  font-size: calc(var(--thumbnail-size) / 10);
  left: calc(50% - 15px);
  opacity: 0.7;
  padding: 5px 6px 4px 8px;
  position: absolute;
  top: calc(50% - 15px);
  z-index: 1;
}

.thumb:hover .video-icon {
  display: none;
}

/* view */

.info {
  margin: 0 auto;
  text-align: left;
}

.asset > img, .asset > audio, .asset > video {
  margin: 11px;
  max-height: 80vh;
  max-width: 95vw;
  /*border-radius: 11px;*/
}

.asset th {
  text-align: left;
}
