*
  box-sizing: border-box
  margin: 0
  padding: 0

:root
  --thumbnail-size: 160px

body
  background: #000
  color: #ccc
  font: 100%/1.5 'Work Sans', sans-serif

@keyframes spinner
  0%
    background-color: #999
  100%
    background-color: transparent

#root
  display: grid
  gap: 0.5em
  grid-template-columns: repeat(12, 1fr)
  margin: 0.5em

.thumbs
  display: grid
  grid-auto-flow: dense
  grid-template-columns: repeat(auto-fit, minmax(var(--thumbnail-size), calc(2 * var(--thumbnail-size))))
  grid-auto-rows: var(--thumbnail-size)

  h2
    place-self: center

.thumb
  border: solid 4px transparent
  cursor: pointer
  position: relative

  img
    height: 100%
    object-fit: cover
    width: 100%

  .video-icon
    background-color: #fc0
    border: solid 3px #111
    color: #111
    font-size: calc(var(--thumbnail-size) / 10)
    left: calc(50% - 15px)
    opacity: 0.7
    padding: 5px 6px 4px 8px
    position: absolute
    top: calc(50% - 15px)
    z-index: 1

  &:hover .video-icon
    display: none

//.thumb:nth-child(13n)
//  grid-column: span 2
//  grid-row: span 2

.tags
  display: flex

  .icon
    flex: 0 0 2em
    font-size: 1.5em

  ul
    flex: 1 1 auto
    list-style: none
    text-align: left

    li.tag
      border-radius: 3px
      display: inline-block
      margin: 0.2em
      white-space: nowrap

      &:hover
      &.active
        opacity: 1

      span
        padding: 0.2em 0.3em

        &:hover
          background: #fff
          border-radius: 3px

.breadcrumbs
  grid-column: 1 / 7
  grid-row: 1

  .divider
    color: #666
    display: inline-block
    margin: 0 0.5em

  a
    color: #9cf
    text-decoration: none

.tools
  display: flex
  flex-flow: row-reverse nowrap
  grid-row: 1
  grid-column: 7 / -1

  .spacer
    background: #fff
    display: inline-block
    height: 2.5em
    margin: 0 0.3em 0 0.5em
    width: 0.1em

  .button
    background: #f33
    border-radius: 0.5em
    color: #111
    cursor: pointer
    display: grid
    font-weight: bold
    height: 2.5em
    margin-left: 0.2em
    place-items: center
    width: 2.5em

    .icon
      font-size: 1.2em

    &:hover
      background: #9cf

    &.disabled
      background: #ccc

.tag-select
  color: #000
