.edit
  &.asset
    grid-column: 4 / -1
    grid-row: 2 / 12
    place-self: center

    audio, img, video
      max-width: 100%

  &.tags
    grid-column: 1 / 4

    ul li span.count
      display: none

  &.tag-select
    grid-column: 1 / 4
    margin-left: 3em

  .filters
    grid-column: 1

  &.related.tag
    grid-column: 1 / -1
    grid-row: 12
