arrow==1.2.0
celery==5.2.3
click==8.0.4
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
librosa==0.8.1
numpy==1.22.2
parsimonious==0.8.1
Pillow==9.0.1
PyYAML==6.0
redis==4.0.2
torch==1.9.1
torchvision==0.10.1
