#groups
  padding-left: 20px

  li
    color: #ccc
    margin: 0 60px 20px 0

    .thumbs
      position: relative
      height: 100px

      .frame
        background: #ffe
        padding: 6px
        border-radius: 3px
        position: absolute
        bottom: 0
        transition: 0.5s

        img { max-width: 80px; max-height: 80px }

      .frame:nth-child(1) { left:  5px; }
      .frame:nth-child(2) { left: 10px; }
      .frame:nth-child(3) { left: 15px; }
      .frame:nth-child(4) { left: 20px; }

    &:hover
      .frame:nth-child(1) { bottom: 50px; left: -30px; }
      .frame:nth-child(2) { bottom:  0px; left: -30px; }
      .frame:nth-child(3) { bottom: 50px; left:  50px; }
      .frame:nth-child(4) { bottom:  0px; left:  50px; }
