#tag-list
  width: 100%
  background: #222
  padding: 3px 0 0
  margin: 0 0 5px

  .tag
    margin-bottom: 3px
    opacity: 0.3

    &:hover { opacity: 0.7 }
    &.select { opacity: 1.0 }

#modal-tagger
 .tag
   margin-bottom: 3px

   &:hover { opacity: 1.0 }
   &.all { opacity: 1.0 }
   &.some { opacity: 0.5 }
   &.none { opacity: 0.3 }

.tag
  color: #eee
  cursor: pointer
  margin-right: 3px
  padding: 0 4px
  border-radius: 3px

  &.exif { background: #292 }
  &.date { background: #936 }
  &.user { background: #49f }

.tag-form input[type=submit]
  position: absolute
  top: -1000px
  left: -1000px

.tag-input
  height: 22px
  border-width: 1px
  padding: 1px 2px

#thumbs
  padding-right: 10px

  &:focus { outline: none }

  .thumb
    height: 80px
    margin: 0 0 10px 10px
    cursor: pointer
    position: relative

    img
      display: inline
      vertical-align: middle
      max-height: 80px
      border: solid 2px #333

    i.icon-chevron-right
      position: absolute
      top: 12px
      left: -12px
      color: #f63

    &.select img { border-color: #ff6 }

#modal-viewer
  overflow-y: hidden

  .modal-dialog
    padding: 5px 0 0 5px
    width: 85%

  .modal-body
    padding: 10px

    p, ul { margin-bottom: 5px }

    .img
      text-align: center

      img
        max-height: 85%
        margin: 0 auto

.grayscale { -webkit-filter: grayscale(100%) }
