#tag-list
  width: 100%
  background: #222
  padding: 0 0 5px
  margin: 0 0 5px 0
  position: relative
  top: -10px

  li
    color: #888
    border: solid 1px #444
    margin: 5px 0 0 5px
    padding: 1px 3px
    border-radius: 3px
    cursor: pointer

    &.selected { background: #999; color: #444 }

#thumbs
  padding-right: 10px

  &:focus { outline: none }

  .thumb
    height: 80px
    margin: 0 0 10px 10px
    cursor: pointer
    position: relative

    img
      display: inline
      vertical-align: middle
      max-height: 80px
      border: solid 2px #333

    i.icon-chevron-right
      position: absolute
      top: 12px
      left: -12px
      color: #fd9

    &.select img { border-color: #ff6 }

.modal-body .tag { margin-right: 3px }
#modal-tagger .modal-body .tag { cursor: pointer }

#modal-viewer
  overflow-y: hidden

  .modal-dialog
    padding: 5px 0 0 5px
    width: 85%

  .modal-body
    padding: 10px

    p, ul { margin-bottom: 5px }

    .img
      text-align: center

      img
        max-height: 85%
        margin: 0 auto

  .tag-input
    height: 20px
    border-width: 1px
    padding: 1px 2px
    position: relative
    top: -2px

.grayscale { -webkit-filter: grayscale(100%) }
