body
 padding: 0
 background: #333
 font-family: 'Source Sans Pro', sans-serif

#groups
  padding-left: 20px

  li
    color: #ccc
    margin: 0 60px 20px 0

    .thumbs
      position: relative
      height: 100px

      .frame
        background: #ffe
        padding: 6px
        border-radius: 3px
        position: absolute
        bottom: 0
        transition: 0.5s

        img { max-width: 80px; max-height: 80px }

      .frame:nth-child(1) { left:  5px; }
      .frame:nth-child(2) { left: 10px; }
      .frame:nth-child(3) { left: 15px; }
      .frame:nth-child(4) { left: 20px; }

    &:hover
      .frame:nth-child(1) { bottom: 50px; left: -30px; }
      .frame:nth-child(2) { bottom:  0px; left: -30px; }
      .frame:nth-child(3) { bottom: 50px; left:  50px; }
      .frame:nth-child(4) { bottom:  0px; left:  50px; }

#tag-list
  width: 100%
  background: #222
  padding: 0 0 5px
  margin: 0 0 5px 0
  position: relative
  top: -10px

  li
    color: #888
    border: solid 1px #444
    margin: 5px 0 0 5px
    padding: 1px 3px
    border-radius: 3px
    cursor: pointer

    &.selected { background: #999; color: #444 }

#thumbs
  padding-right: 10px

  &:focus { outline: none }

  .thumb
    height: 80px
    margin: 0 0 10px 10px
    cursor: pointer
    position: relative

    img
      display: inline
      vertical-align: middle
      max-height: 80px
      border: solid 2px #333

    i.icon-chevron-right
      position: absolute
      top: 12px
      left: -12px
      color: #fd9

    &.select img { border-color: #ff6 }

.modal-body .tag { margin-right: 3px }
#modal-tagger .modal-body .tag { cursor: pointer }

#modal-viewer
  overflow-y: hidden

  .modal-dialog { transition: 0.2s }
  .modal-body img { max-height: 75% }
  .tag-input
    height: 20px
    border-width: 1px
    padding: 1px 2px
    position: relative
    top: -2px

.grayscale { -webkit-filter: grayscale(100%) }
