// see: http://stackoverflow.com/questions/18059161/css-issue-on-twitter-typeahead-with-bootstrap-3

.twitter-typeahead .tt-hint { display: none }

.tt-dropdown-menu
  min-width: 160px
  margin-top: 2px
  padding: 5px 0
  background-color: #fff
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-radius: 6px
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  background-clip: padding-box

.tt-suggestion
  display: block
  padding: 1px 5px

.tt-suggestion.tt-is-under-cursor
  color: #fff
  background-color: #0081c2

.tt-suggestion.tt-is-under-cursor a { color: #fff }
.tt-suggestion p { margin: 0 }
