<ul id="tag-list" class="list-unstyled pull-left">
 <li class="pull-left"
     ng-click="view(tag.name)"
     ng-repeat="tag in tags | orderBy:'name'"
     ng-class="{ selected: tagged.indexOf(tag.name) >= 0 }">
  <small title="{{ tag.count }}x">{{ tag.name }}</small>
 <li style="clear:left;border:none"></li>
</ul>

<div id="thumbs" tabindex="0" lmj-keypress="
{ 'j right': 'nextPhoto()'
, 'k left': 'prevPhoto()'
, down: 'nextPage()'
, up: 'prevPage()'
, '[': 'rotatePhoto(-90)'
, ']': 'rotatePhoto(90)'
, '{': 'rotatePhoto(-1)'
, '}': 'rotatePhoto(1)'
, x: 'togglePhoto()'
, t: 'toggleTagger()'
}">
<ul class="list-unstyled"
    lmj-scroll="loadPhotos()"
    lmj-scroll-disabled="loading"
    lmj-scroll-exhausted="exhausted">
 <li class="thumb pull-left"
     ng-class="{ select: selected.indexOf(p.id) >= 0 }"
     ng-repeat="p in photos">
  <img id="photo-{{ p.id }}"
       class="img-rounded"
       ng-click="handleClick(p.id, $event)"
       ng-src="thumbs/{{ p.thumb }}">
  <i class="icon-chevron-right icon-2x" ng-show="p.id == cursorId"></i>
</ul>
</div>

<div modal="tagging" close="tagging = false">
<input type="text" name="name">
</div>

<div modal="editing" close="editing = false">
 <div class="modal-header">
  <i class="icon-2x pull-left icon-adjust"></i>
  <i class="icon-2x pull-left icon-bar-chart"></i>
  <i class="icon-2x pull-left icon-magic"></i>
  <i class="icon-2x pull-left icon-camera"></i>
  <i class="icon-2x pull-left icon-eye-open"></i>
  <i class="icon-2x pull-left icon-eye-close"></i>
  <i class="icon-2x pull-left icon-picture"></i>
  <i class="icon-2x pull-left icon-crop"></i>
  <i class="icon-2x pull-left icon-smile"></i>
  <i class="icon-2x pull-left icon-wrench"></i>
  <span class="clearfix"></span>
 </div>
 <div class="modal-body">
  <img id="image" class="img-rounded" ng-src="thumbs/{{ photo.thumb }}">
 </div>
 <div id="inputs" class="modal-footer">
  <input class="pull-left" type="text" ng-model="photo.meta.user_tags" />
  <input class="pull-left" type="text" ng-model="photo.stamp"/>
  <button class="btn btn-primary" ng-click="editing = false">Done</button>
 </div>
</div>
