<ul id="tag-list" class="list-unstyled pull-left">
 <li class="pull-left"
     ng-click="goto(tag.name)"
     ng-repeat="tag in availableTags | orderBy:'name'"
     ng-class="{ selected: activeTags.indexOf(tag.name) >= 0 }">
  <small title="{{ tag.count }}x">{{ tag.name }}</small>
 <li style="clear:left;border:none"></li>
</ul>

<div id="thumbs" tabindex="1" lmj-keypress="
{ 'j right': 'nextPhoto(1)'
, 'k left': 'prevPhoto(1)'
, 'down': 'nextPhoto(16)'
, 'up': 'prevPhoto(16)'
, 'l t': 'showTagger()'
, 'x': 'togglePhoto()'
, 'enter': 'toggleViewer()'
, '[':   'rotatePhoto(-90)'
, ']':   'rotatePhoto(90)'
, '{':   'rotatePhoto(-1)'
, '}':   'rotatePhoto(1)'
, 'p':   'incPhotoYear(true)'
, 'S-p': 'incPhotoYear(false)'
, 'o':   'incPhotoMonth(true)'
, 'S-o': 'incPhotoMonth(false)'
, 'i':   'incPhotoDay(true)'
, 'S-i': 'incPhotoDay(false)'
, 'backspace delete': 'deletePhoto()'
}">
<ul class="list-unstyled"
    lmj-scroll="loadPhotos()"
    lmj-scroll-disabled="loading"
    lmj-scroll-exhausted="exhausted">
 <li class="thumb pull-left"
     ng-class="{ select: selectedIds[p.id] }"
     ng-repeat="p in photos">
  <img id="photo-{{ p.id }}"
       class="img-rounded"
       ng-click="handleClick(p.id, $index, $event)"
       ng-dblclick="toggleViewer()"
       ng-src="static/thumb/{{ p.img }}">
  <i class="icon-chevron-right icon-2x" ng-show="$index == cursor"></i>
</ul>
</div>

<div class="modal" id="modal-tagger">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
<ul class="list-unstyled">
 <li class="tag pull-left label"
     ng-repeat="t in selectedPhotoTags"
     ng-click="smartTag(t, $index)"
     ng-class="{
'label-success': t.c == t.n,
'label-warning': 0 < t.count && t.count < t.limit,
'label-default': t.count == 0 }">{{ t.name }} ({{ t.count }})
</ul>
<form class="tag-form"><input type="text" class="tag-input input-sm"></form>
</div>
</div>
</div>
</div>

<div class="modal" id="modal-viewer">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
 <p>{{ dirnameBasename(photos[cursor].path) }}
 <span class="pull-right">{{ photos[cursor].when.format('YYYY MMM D HH:mm') }}</span></p>
 <ul class="list-unstyled">
  <li ng-repeat="tag in photos[cursor].tags | orderBy:'toString()'"
      ng-click="photos[cursor].clearTag(tag)"
      class="tag label label-default pull-left">{{ tag }}
  <li><form class="tag-form"><input type="text" ng-blur="blurInput($event)" class="tag-input input-sm" size="10"></form>
 </ul>
 <span class="clearfix"></span>
 <div class="img"><img class="img-rounded" ng-src="static/full/{{ photos[cursor].img }}"></div>
</div>
</div>
</div>
</div>
