<ul id="tag-list" class="list-unstyled pull-left">
 <li class="pull-left"
     ng-click="goto(tag.name)"
     ng-repeat="tag in availableTags | orderBy:'name'"
     ng-class="{ selected: activeTags.indexOf(tag.name) >= 0 }">
  <small title="{{ tag.count }}x">{{ tag.name }}</small>
 <li style="clear:left;border:none"></li>
</ul>

<div id="thumbs" tabindex="0" lmj-keypress="
{ 'j right': 'nextPhoto()'
, 'k left': 'prevPhoto()'
, 'down': 'nextPage()'
, 'up': 'prevPage()'
, '[': 'getPhoto().rotate(-90)'
, ']': 'getPhoto().rotate(90)'
, '{': 'getPhoto().rotate(-1)'
, '}': 'getPhoto().rotate(1)'
, 't': 'showTagger()'
, 'x': 'togglePhoto()'
, 'y': 'deleteSelected($event)'
, 'v space': 'toggleViewer()'
}">
<ul class="list-unstyled"
    lmj-scroll="loadPhotos()"
    lmj-scroll-disabled="loading"
    lmj-scroll-exhausted="exhausted">
 <li class="thumb pull-left"
     ng-class="{ select: selectedIds[p.id] }"
     ng-repeat="p in photos">
  <img id="photo-{{ p.id }}"
       class="img-rounded"
       ng-click="handleClick(p.id, $index, $event)"
       ng-src="static/img/{{ p.thumb }}">
  <i class="icon-chevron-right icon-2x" ng-show="$index == cursor"></i>
</ul>
</div>

<div class="modal" id="modal-tagger">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
<ul class="list-unstyled">
 <li class="tag pull-left label"
     ng-repeat="t in selectedPhotoTags"
     ng-click="smartTag(t, $index)"
     ng-class="{
'label-success': t.c == t.n,
'label-warning': 0 < t.count && t.count < t.limit,
'label-default': t.count == 0 }">{{ t.name }} ({{ t.count }})
</ul>
<input type="text" class="tag-input input-sm">
</div>
</div>
</div>
</div>

<div class="modal" id="modal-viewer">
<div class="modal-dialog" style="width:{{ imageWidth() }}px">
<div class="modal-content">
<div class="modal-body">
 <h5>{{ dirnameBasename(photos[cursor].path) }}</h5>
 <ul class="list-unstyled">
  <li ng-repeat="tag in photos[cursor].tags | orderBy:'toString()'"
      class="tag label label-default pull-left">{{ tag }}
  <li><input type="text" class="tag-input input-sm" size="10">
 </ul>
 <span class="clearfix"></span>
 <img class="img-rounded" ng-src="static/img/{{ photos[cursor].thumb }}">
 <i class="pull-left icon-adjust"></i>
 <i class="pull-left icon-bar-chart"></i>
 <i class="pull-left icon-magic"></i>
 <i class="pull-left icon-camera"></i>
 <i class="pull-left icon-eye-open"></i>
 <i class="pull-left icon-eye-close"></i>
 <i class="pull-left icon-picture"></i>
 <i class="pull-left icon-crop"></i>
 <i class="pull-left icon-smile"></i>
 <i class="pull-left icon-wrench"></i>
 <span class="clearfix"></span>
</div>
</div>
</div>
</div>
